.header {
  margin-left: 1.5rem;
  margin-top: 5rem;
  padding: 2rem 2rem;
}

.header__primary-heading,
.header__secondary-heading {
  font-size: 4.675rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  background: linear-gradient(to bottom, #96c8fb, #ddbdfc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.header__line {
  margin: 1rem 0 1.5rem;
  display: block;
  height: 3px;
  background-color: #ddbdfc;
}

.header__line--50 {
  width: 50%;
}

.header__line--75 {
  width: 75%;
}

.header__read-more-link {
  text-align: center;
  font-size: 1.25rem;
  color: #96c8fb;
  cursor: pointer;
  display: block;
  width: 9rem;
  border: 2px solid #ddbdfc;
  padding: 0.5rem 2rem;
  transition: all 0.4s ease;
  margin-bottom: 1.5rem;
}

.header__about {
  width: 75%;
}

.header__read-more-link:hover {
  background: linear-gradient(to bottom, #96c8fb, #ddbdfc);
  color: #053841;
}

.header__about-text {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.header__about-text > span {
  font-weight: 600;
}

.header__about-link:link,
.header__about-link:visited {
  display: inline-block;
  color: #ddbdfc;
  font-weight: 600;
  transition: all 0.4s;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.header__about-link:hover,
.header__about-link:active {
  opacity: 0.8;
}
