.header {
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 2rem 2rem;
}

.header__primary-heading,
.header__secondary-heading {
  font-size: 4.675rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.header__line {
  margin: 1rem 0 1.5rem;
  display: block;
  width: 75%;
  height: 3px;
  background-color: #fff;
}

.header__read-more-link {
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  display: block;
  width: 9rem;
  border: 2px solid #fff;
  padding: 0.5rem 2rem;
  transition: all 0.2s ease;
}

.header__read-more-link:hover {
  background-color: #fff;
  color: #191919;
}
