.projectRow {
  width: 100%;
  border: 1px solid #053841;
  box-shadow: 0 0.2rem 1rem #0538411a;
  transition: all 0.5s;
  background: linear-gradient(to bottom, #000, #04252c);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.projectRow:hover {
  transform: scale(1.05);
  box-shadow: 0 0.4rem 2rem #0538411a;
}
