.topNav {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #053841;
  width: 100%;
  height: 5rem;
  z-index: 99;
  background-color: #000;
}

.topNav__nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
}

.topNav__nav-list > li {
  padding: 0 2rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-right: 1px solid #053841;
  overflow: hidden;
  border-bottom: none;
  transition: all 0.4s;
}

.topNav__nav-list > li:hover {
  box-shadow: inset 0 0 0 3px #96c8fb;
  opacity: 0.7;
}

.topNav__nav-link:link,
.topNav__nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #96c8fb;
  font-size: 1.5rem;
}

.topNav__nav-link--cv {
  display: flex;
  align-items: center;
}
